*{
    padding: 0;
    margin: 0;
 
 }

 main{
 
    overflow-x: hidden;
    margin: 0 auto;
    width: 1340px;
    overflow: hidden;
 }  
 
 .header{
    width: 1297px;
 }

.first-section .header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55rem;
    margin-top: 2.5rem;
   
} 

.header-btn .btn1{
    width:136px;
    height: 40px;
    border-radius:50px;
    border: 1px solid #ff52c1;
    background-color: #fff;
    color: #ff52c1;
    font-weight: 500;
} 

.second-section .middle-content{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.middle-content1{
    text-transform: capitalize;
    width: 1014px;
    font-size:48px;
    line-height: 72px;;
    font-weight: 700;
    font-style: normal;
} 

.middle-content2{
    width:600px;
    font-size:20px;
    font-weight:400px;
    line-height: 30px;
    color:#00252E;
    text-align: center;
    
}

.middle-btn{
    margin-top: 2rem;
}

.middle-btn{
    width: 400px;
    height: 80px;
    border-radius: 40px;
    background-color: #ff52c1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border: none;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    font-style: none;
    line-height: 30px;
} 

.middle-content svg{
    margin-top: 7rem;
} 


.small-content svg{
    margin-top: 10rem;
}  


.third-section .small-text{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 5rem;
   
} 

.small-text-content1{
    margin-right: 10rem;
} 

.small-text-content2{
    margin-left: 20rem;
} 

.main-wrapper{
    margin-top: 5rem;
}

.middle-wrapper{
     display: flex;
     align-items:center;
     justify-content:space-around;
    
     
 
}
.middle-wrapper{
     background: #F6FBFF;
     margin-top:-2rem;
}
.middle-wrapper-content-image img{
width: 450px;
height: 450px;
} 

.middle-wrapper2{
    display: flex;
    align-items:center;
    justify-content:space-around;    
} 


.main-wrapper3{
    margin-top: 5rem;
}

.middle-wrapper3{
     display: flex;
     align-items:center;
     justify-content:space-around;
    
     
 
}
.middle-wrapper3{
     background: #F6FBFF;
     margin-top:-2rem;
}
.middle-wrapper-content-image img{
width: 450px;
height: 450px; 
}  

.seventh-section-items{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4rem;
}

.last-btn{
    width: 400px;
    height: 80px;
    background: #FF52C1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    border: none;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    font-style: none;
    line-height: 30px;

}

.box{
    background-color: #00252E;
    width: 1340px;
    height: 300px;
    margin-top: -0.5rem;

} 

footer{
    margin-top: 10rem;
} 

.box-content svg path{
  fill: #fff !important;

} 

 .box{
    display: flex;
    align-items:center;
   justify-content:space-evenly;
} 


